.table-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
  }

  table td, table th {
    padding: 11px 9px;
    border: 1px solid #f1b26e;
    text-align: center;
    font-size: 13px;
  }

table th {
    background-color: #ea9234;
  }
