body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

}
header{
	
	width: 100%
	height:5%;
}
#menu{
	width: 20%
	
}
#baner{
	width: 100%;
}
footer{
	position: fixed;
	bottom:0;
	background-color: cyan;
}

#content{
	display: flex;
	display: black;
}