.timer {
    position: relative;
    float: left;
    font-size: 100px;
}

input[type = button] {
    width: 80px;
    height: 40px;
    text-align: center;
    position: relative;
    left: -360px;
    margin-top: 101px;
    border: 1px solid black;
    border-radius: 5px;
}

.div {
    border: 1px solid black;
}