body {
    font-family: Helvetica;
    margin: 0;
}

.blok-gorny, .blok-trzeci {
    display: flex;
    flex-direction: row;
}

.baner-lewy, .blok-lewy {
    background-color: rgb(130, 69, 85);
    color: white;
    width: 30%;
    height: 200px;
    text-align: center;
}

.baner-prawy, .blok-prawy {
    background-color: rgb(130, 69, 85);
    color: white;
    width: 70%;
    height: 200px;
    text-align: center;
}

.blok-glowny, .stopka {
    background-color: rgb(240, 234, 226);
    padding: 120px;
}

table, td {
    border: solid 1px rgb(130, 69, 85);
    color: rgb(130, 69, 85);
    padding: 10px;
}

a {
    color: rgb(240, 234, 226);
}