html{
text-align: center;
font-family: 'Times New Roman', Times, serif;
text-decoration: solid;
font-size: 55px;
background-color: #d1d1d1;
align-items: center;
display: flex;
justify-content: center;
height: 100%;
}

audio controls autoplay{
    text-align: left
}