body{
    background-color: pink;
}
#id1{
    width: 400px;
    height: 400px;
    border: 3px solid blue;
    overflow: auto;   /* Scroll, hidden*/
    opacity: 0.5;  /* (0.5 - pol przezroczysty) 1 to wgl nie przezroczysty */
    
}

span{
    vertical-align: text-top; /*text-bottom */
    color: red;
    font-size: 8px;

}