*{

}

.navi{
    height: 100px;
    width: 100%;
    background-image: url(gura.jpg);
    padding: 5px;
}

body{
    background-image: url(tlo.png);
background-repeat: no-repeat;
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.miko{
    width: 300px;
    height: 300px;
    animation-name: anima;
    animation-duration: 7s;
    animation-iteration-count:  infinite;
}


@keyframes anima{
    0%{left: 300px; transform: translate(0px, 0px) scale(1) skewX(720deg);}
    25%{transform: translate(200px, 0px) rotate(360deg) scale(2.5) skewX(720deg);}
    50%{transform: translate(200px, 200px) scale(0.5) skewX(720deg);}
    75%{transform: translate(0px, 200px);}
    100%{transform: translate(0px,0px);}