*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 150px 100px 100px 100px 100px 100px;
    grid-template-areas: "a a a"
                        "e b  d"
                        "e b  d"
       
                        "g g  h"
                        "g g h "
                        "g g h "
        "g g h "
        ;

}
.grid-item{
    border: 1px solid black;
}
.a{grid-area: a;
display:flex; justify-content: center;
 align-items:center;
    border-style: solid;
    border-color: black;
    background-color: antiquewhite;
}
.b{grid-area: b;
background-color: antiquewhite;
 display:flex;
justify-content: center;
 align-items:center;
    flex-direction: column}
.c{grid-area: c;}
.d{grid-area: d; 
    background-color: antiquewhite;
 display:flex;
justify-content: center;
 align-items:center;
    flex-direction: column
}
.e{grid-area: e;
background-color: antiquewhite;
 display:flex;
justify-content: center;
 align-items:center;
    flex-direction: column

}
.f{grid-area: f;}
.g{grid-area: g;
     background-color: antiquewhite;
}
.h{grid-area: h;
  background-color: antiquewhite;
 display:flex;
justify-content: center;
 align-items:center;
    flex-direction: column}
.i{grid-area: i;}
.j{grid-area: j;}
.k{grid-area: k;}
.l{grid-area: l;}
.m{grid-area: m;}
#grid-container2{
    height: 100%;
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "a1 a2 a3"
                        "a4 a5 a6"
                        
                        ;
}
.grid-items2{
    border: 1px solid black;
}
.a1{ grid-area: a1;
  display:flex; justify-content: center;
 align-items:center;

    background-color: antiquewhite;}
.a2{ grid-area: a2;
  display:flex; justify-content: center;
 align-items:center;
    
    background-color: antiquewhite;}
.a3{ grid-area: a3;
  display:flex; justify-content: center;
 align-items:center;
   
    background-color: antiquewhite;}
.a4{ grid-area: a4;
  display:flex; justify-content: center;
 align-items:center;
    
    background-color: antiquewhite;}
.a5{ grid-area: a5;
  display:flex; justify-content: center;
 align-items:center;
   
    
    background-color: antiquewhite;}
.a6{ grid-area: a6;
  display:flex; justify-content: center;
 align-items:center;
 
 
    background-color: antiquewhite;}
.a7{ grid-area: a7;}
.a8{ grid-area: a8;}