a:link{
    color: red;
}
a:visited{
    color: pink;
}

a:hover{
    color: blue;
}

a:active{
    color: green;
}

input:focus{
    color: white; background-color: black;
}

p:first-line{
    background-color: green;
}

p:first-letter{
    font-size: 32pt;
}

p, a{
    font-weight: bold;
}