*{
    /* margin: 0;
    padding: 0; */
}

#nav{
    background-color: gray;
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: space-around; 
    width: 100%;
}

.navblocks {
background-color: yellow;
width: 200px;
height: 100px;
}

#section{
width: 100%;
border: 3px solid green;
height: 500px;
display: flex;
flex-direction: row;
}

.sleft{
width: 50%;
height: 100%;
}

.inleft{
    width: 75%;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 400px;
    padding: 20px;
    align-items: center;
}

.sright{
    width: 50%;
    height: 100%;
}

#undersec{
background-color: gray;
padding: 20px;
height: 100px;
display: flex;
justify-content: space-around; 
width: 100%;
}


.unders{
background-color: yellow;
width: 600px;
height: 100px;
}

#footer{
border: 3px solid purple;
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: space-around; 
    width: 100%;
}

.foot{
    background-color: yellow;
    width: 700px;
    height: 100px;  
}





/* temp */
div{
border: 1px solid black;
}
